@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #212121;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, .80), rgba(0, 0, 0, 0.80)100%), url(https://c.tenor.com/IvyuPtEfzhoAAAAM/matrix.gif);
    margin-top: 80px;
}